body {
    font-family: 'AppleSDGothicNeoR00', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50a3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #077187 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
